*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor:pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
    font-size: 2rem;
}

#user-score, #computer-score{
    background-color: #081b31;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color:white;
    padding: 1rem 2rem;
    font-size: 2rem;
    display: inline;
    border-radius: 10px;
}
